html
  box-sizing: border-box
  font-family: sans-serif
  height: 100%

*,
*::after,
*::before
  box-sizing: inherit

body
  display: flex
  flex-direction: column
  height: 100%
  min-width: 320px
  overflow-wrap: break-word

  &.overflow
    overflow: hidden

.page-content
  flex: 1 0 auto
  padding-top: 80px
  padding-bottom: 40px

  @media(min-width: 992px)
    padding-top: 90px

  @media(min-width: 1350px)
    padding-bottom: 60px

.page-float-menu
  .page-content
    @media(min-width: 992px)
      padding-top: 130px

.container
  margin-left: auto
  margin-right: auto
  max-width: 1320px
  padding-left: 15px
  padding-right: 15px

  @media(min-width: 1500px)
    max-width: 2560px
    width: 84.914%

  &--small
    margin-left: auto
    margin-right: auto
    max-width: 1110px

    @media(min-width: 1500px)
      max-width: 2150px
      width: 73.065%

  & .container
    padding-left: 0
    padding-right: 0

.title-block
  margin-bottom: 25px

  @media(min-width: 768px)
    align-items: center
    display: flex
    justify-content: space-between

  @media(min-width: 1350px)
    margin-bottom: 45px

  h1
    @media(min-width: 768px)
      margin-bottom: 0

.cols
  margin-bottom: -40px

  @media(min-width: 768px)
    display: flex
    flex-wrap: wrap
    margin-left: -15px
    margin-right: -15px

  &--2
    .cols__item
      @media(min-width: 768px)
        padding-left: 15px
        padding-right: 15px
        width: 50%

  &--2_reverse
    @media(min-width: 768px)
      flex-direction: row-reverse

  &--3
    .cols__item
      @media(min-width: 768px)
        padding-left: 15px
        padding-right: 15px
        width: 33.33333%

  &--4
    .cols__item
      @media(min-width: 768px)
        padding-left: 15px
        padding-right: 15px
        width: 50%

      @media(min-width: 1200px)
        width: 25%

  &__item
    margin-bottom: 40px
