<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <div class="footer__logo"><img src="images/logo--white.svg" alt="FORSITE"></div>
        <p class="footer__slogan">Первая в мире линейка суперкомпьютеров, специально разработанная для задач искусственного интеллекта.</p>
      </div>
      <div class="footer__center">
        <div class="footer__center-column">
          <ul class="footer-menu">
            <li class="footer-menu__item footer-menu__title">Продукция</li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Графические станции</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Суперкомпьютеры и GPU-серверы</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Вычислительные HPC-кластеры</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Серверы</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Видеоконтроллеры</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Серверы NVIDIA GRID</a></li>
          </ul>
        </div>
        <div class="footer__center-column">
          <ul class="footer-menu">
            <li class="footer-menu__item footer-menu__title">Типовые решения</li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Вычисления на GPU (HPC)</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Виртуализации рабочих мест</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Машинное обучение | Deep Learning</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Масштабная визуализация</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Графические решения для САПР</a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item footer-menu__title">Центр компетенции</li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Запрос консультации</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Развернутые демо-решения</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Аренда видеостен и панелей</a></li>
          </ul>
        </div>
        <div class="footer__center-column">
          <ul class="footer-menu">
            <li class="footer-menu__item footer-menu__title">О компании</li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сертификаты</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Участие в торгах</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="requisites.html">Реквизиты</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="contacts.html">Контакты</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="clients.html">Клиенты</a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item footer-menu__title">Поддержка</li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сервисный центр</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="delivery.html">Доставка</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Гарантийная политика</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Форма RMA</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__right">
        <p class="footer__phone">
          <a class="footer__phone-link" href="tel:+78005006993">8 800 500-69-93</a>
        </p>
        <p class="footer__address">г. Санкт-Петербург<br> ул. Маршала Говорова, д. 52,<br> БЦ «Алкотел»</p>
        <p class="footer__email"><a class="footer__email-link" href="mailto:sale@forsite-company.ru">sale@forsite-company.ru</a></p>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">2019 © Forsite. Все права защищены.</p>
    </div>
  </div>
</footer>