<header class="header">
  <div class="header__inner container">
    <a class="logo" href="main.html">
      <img class="logo__image logo__image--blue" src="images/logo--blue.svg" alt="FORSITE">
      <img class="logo__image logo__image--white" src="images/logo--white.svg" alt="FORSITE">
    </a>
    <div class="menu-block">
      <div class="menu-block__inner">
        <nav class="menu-block__top">
          <ul class="menu">
            <li class="menu__item">
              <a class="js-root-1 menu__link menu__link--root" href="javascript:void(0)">О компании</a>
              <div class="js-sub-1 submenu-block">
                <ul class="submenu">
                  <li class="submenu__item"><a class="submenu__link" href="#">Наши преимущества</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Наши партнеры</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="clients.html">Клиенты</a></li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="js-root-1 menu__link menu__link--root" href="javascript:void(0)">Типовые решения</a>
              <div class="js-sub-1 submenu-block">
                <ul class="submenu">
                  <li class="submenu__item"><a class="submenu__link" href="#">Видеостены и видеоконтроллеры</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Графические и расчетные станции</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Высокопроизводительные вычисления</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Виртуализация рабочих мест</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Вычислительные кластеры HPC</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Машинное обучение / Deep Learning</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Системы NVIDIA DGX </a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">NVIDIA Data Science WS</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Решения для AI: Forsite ONTAP</a></li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="js-root-1 menu__link menu__link--root" href="javascript:void(0)">Продукция</a>
              <div class="js-sub-1 submenu-block">
                <ul class="submenu submenu--root">
                  <li class="submenu__item">
                    <a class="js-root-2 submenu__link" href="#">Рабочие станции и суперкомпьютеры</a>
                    <div class="js-sub-2 submenu-block-2">
                      <ul class="submenu">
                        <li class="submenu__item submenu__title">Рабочие станции и Суперкомпьютеры</li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Графические станции</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Суперкомпьютеры</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Рабочая станция NVIDIA Data Science</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Суперкомпьютеры NVIDIA DGX</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Серверы NVIDIA GRID</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Суперкомпьютер NVIDIA DevBox</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Моноблоки</a></li>
                      </ul>
                      <button class="js-root-2-close submenu-close" type="button">
                        <svg class="submenu-close__icon" aria-hidden="true">
                          <use xlink:href="#small-arrow-left" />
                        </svg>
                        Назад
                      </button>
                    </div>
                  </li>
                  <li class="submenu__item">
                    <a class="js-root-2 submenu__link" href="#">Видео стены и видео контролеры</a>
                    <div class="js-sub-2 submenu-block-2">
                      <ul class="submenu">
                        <li class="submenu__item submenu__title">Видеостены и видеоконтроллеры</li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Видеоконтроллеры</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Типовые конфигурации видеостен</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Крепления для видеостен</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Профессиональные панели</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Продукция Matrox</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">ПО для видеостен</a></li>
                      </ul>
                      <button class="js-root-2-close submenu-close" type="button">
                        <svg class="submenu-close__icon" aria-hidden="true">
                          <use xlink:href="#small-arrow-left" />
                        </svg>
                        Назад
                      </button>
                    </div>
                  </li>
                  <li class="submenu__item">
                    <a class="js-root-2 submenu__link" href="#">Серверы и серверное оборудование</a>
                    <div class="js-sub-2 submenu-block-2">
                      <ul class="submenu">
                        <li class="submenu__item submenu__title">Серверы и Серверное оборудование</li>
                        <li class="submenu__item"><a class="submenu__link" href="#"> Серверы Asus</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#"> Серверы Intel</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#"> Серверы Supermicro</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#"> Серверы Dell</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#"> Серверы HPE</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#"> 4х | 8x процессорные системы</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#"> Системы хранения данных</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#"> СХД QNAP</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#"> Системы высокой плотности</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#"> GPU-серверы</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#"> Промышленные компьютеры</a></li>
                      </ul>
                      <button class="js-root-2-close submenu-close" type="button">
                        <svg class="submenu-close__icon" aria-hidden="true">
                          <use xlink:href="#small-arrow-left" />
                        </svg>
                        Назад
                      </button>
                    </div>
                  </li>
                  <li class="submenu__item">
                    <a class="js-root-2 submenu__link" href="#">Дополнительное оборудование</a>
                    <div class="js-sub-2 submenu-block-2">
                      <ul class="submenu">
                        <li class="submenu__item submenu__title">Дополнительное оборудование</li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Сопроцессоры NVIDIA</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Профессиональные видеокарты</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Платы видеозахвата Magewell</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">KVM-консоли</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Серверные корпуса</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">19" рельсы</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Серверные шкафы</a></li>
                        <li class="submenu__item"><a class="submenu__link" href="#">Серверные блоки питания</a></li>
                      </ul>
                      <button class="js-root-2-close submenu-close" type="button">
                        <svg class="submenu-close__icon" aria-hidden="true">
                          <use xlink:href="#small-arrow-left" />
                        </svg>
                        Назад
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="js-root-1 menu__link menu__link--root" href="javascript:void(0)">Наш опыт</a>
              <div class="js-sub-1 submenu-block">
                <ul class="submenu">
                  <li class="submenu__item"><a class="submenu__link" href="#">Сертификаты</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="projects.html">Проекты</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Тестовая лаборатория</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Запрос консультации</a></li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="js-root-1 menu__link menu__link--root" href="javascript:void(0)">Поддержка</a>
              <div class="js-sub-1 submenu-block">
                <ul class="submenu">
                  <li class="submenu__item"><a class="submenu__link" href="#">Сервисный центр</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="delivery.html">Доставка</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Участие в торгах</a></li>
                  <li class="submenu__item"><a class="submenu__link" href="#">Гарантийная политика</a></li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="contacts.html">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="menu-block__bottom">
          <a class="menu-block__phone" href="tel:+78124261412">+7 (812) 426-14-12</a>
        </div>
      </div>
    </div>
    <div class="header__search">
      <button class="js-search-open search-opener" type="button" title="Поиск">
        <svg class="search-opener__icon" aria-hidden="true">
          <use xlink:href="#search" />
        </svg>
      </button>
      <div class="search">
        <div class="search__inner">
          <button class="js-search-close search__close" type="submit" title="Закрыть">
            <svg class="search__close-icon" aria-hidden="true">
              <use xlink:href="#menu-close" />
            </svg>
          </button>
          <form action="search.html">
            <div class="search__form">
              <label class="search__label" for="search">
                <input id="search" class="search__input" type="text" name="search" value="" placeholder="Поиск по сайту" autocomplete="off">
              </label>
            </div>
          </form>
          <div class="search__results">
            <a class="search__result" href="javascript:void(0)"><b>Граф</b>ика</a>
            <a class="search__result" href="javascript:void(0)"><b>Граф</b>ическая станция</a>
            <a class="search__result" href="javascript:void(0)"><b>Граф</b>ическая станция Forsite</a>
          </div>
          <p class="search__results-title">Товары</p>
          <div class="search__products">
            <a class="search__product" href="javascript:void(0)">
              <span class="search__product-image"><img src="images/content/search-img.jpg" alt=""></span>
              <span class="search__product-text"><b>Граф</b>ическая станция Forsite800D</span>
            </a>
            <a class="search__product" href="javascript:void(0)">
              <span class="search__product-image"><img src="images/content/search-img.jpg" alt=""></span>
              <span class="search__product-text"><b>Граф</b>ическая станция Forsite800D</span>
            </a>
          </div>
          <a class="search__results-link" href="search.html">Смотреть все результаты</a>
        </div>
      </div>
    </div>
    <a class="personal-link" href="#">
      <svg class="personal-link__icon" aria-hidden="true">
        <use xlink:href="#user" />
      </svg>
    </a>
    <button class="js-menu-open menu-toggler" type="button" title="Открыть меню">
      <svg class="menu-toggler__icon menu-toggler__icon--burger" aria-hidden="true">
        <use xlink:href="#menu-burger" />
      </svg>
      <svg class="menu-toggler__icon menu-toggler__icon--close" aria-hidden="true">
        <use xlink:href="#menu-close" />
      </svg>
    </button>
  </div>
</header>