.delivery
  font-size: 14px
  line-height: 20px

  &__top
    margin-bottom: 50px

    @media(min-width: 768px)
      display: flex

  &__top-left
    margin-bottom: 45px

    @media(min-width: 768px)
      margin-bottom: 0
      padding-right: 25px
      width: 50%

  &__top-right
    @media(min-width: 768px)
      padding-left: 25px
      width: 50%

    @media(min-width: 1350px)
      font-size: 16px
      line-height: 24px

  &__phone-block
    margin-top: 25px
    margin-bottom: 30px

  &__phone
    color: #000
    font-size: 28px
    font-weight: 300
    line-height: 38px
    text-decoration: none

    @media(min-width: 375px)
      font-size: 32px

    &:hover,
    &:focus
      text-decoration: underline

  &__recall
    min-width: 230px

  &__bottom
    @media(min-width: 768px)
      display: flex

  &__bottom-left
    display: none

    @media(min-width: 768px)
      display: block
      padding-right: 25px
      width: 50%

    .float-nav
      margin-left: auto
      margin-right: 70px

      @media(min-width: 992px)
        margin-left: auto
        margin-right: 35px

      @media(min-width: 1200px)
        margin-right: 70px

  &__bottom-right
    @media(min-width: 768px)
      padding-left: 25px
      width: 50%

    h2
      @media(min-width: 1350px)
        margin-top: 30px
        margin-bottom: 30px

      &:first-child
        margin-top: 0

    ul
      font-size: 14px
      line-height: 20px

    .note-block
      margin-bottom: 35px

      @media(min-width: 1350px)
        margin-left: 50px

  .accent
    @media(min-width: 1350px)
      font-size: 16px
      line-height: 24px
      margin-bottom: 40px
