.main-page
  .header
    background-color: #030303

  .logo__image--blue
    display: none

  .logo__image--white
    display: block

  .search-opener__icon
    fill: rgba(#fff, 0.2)

  .personal-link__icon
    stroke: rgba(#fff, 0.2)

.m-menu-open
  .logo__image--blue
    display: none

  .logo__image--white
    display: block

  .search-opener__icon
    fill: #D1D1D1

  .personal-link__icon
    stroke: #D1D1D1

.header
  background-color: #fff
  height: 80px
  left: 0
  padding-top: 18px
  position: fixed
  top: 0
  width: 100%
  z-index: 10

  @media(min-width: 992px)
    height: 90px
    padding-top: 0

  &.scrolled
    @media(min-width: 992px)
      box-shadow: 0 0 3px 1px rgba(0,0,0,0.05)

  &__inner
    align-items: center
    display: flex

.logo
  min-height: 45px
  margin-right: auto
  position: relative
  width: 90px

  @media(max-width: 991)
    z-index: 101

  @media(min-width: 992px)
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)

  @media(min-width: 1200px)
    height: 54px
    width: 107px

  &__image
    &--white
      display: none

    &--blue
      display: block

.search-opener
  align-items: center
  background: none
  border: none
  cursor: pointer
  display: flex
  justify-content: center
  height: 40px
  padding: 0
  position: relative
  width: 40px

  @media(max-width: 991)
    z-index: 101

  &__icon
    fill: #D1D1D1
    height: 19px
    width: 19px

.personal-link
  align-items: center
  background: none
  border: none
  display: flex
  justify-content: center
  height: 40px
  padding: 0
  position: relative
  width: 40px

  @media(max-width: 991px)
    margin-right: 20px
    z-index: 101

  &__icon
    fill: none
    stroke: #D1D1D1
    stroke-width: 2px
    height: 18px
    width: 18px
